{<div class="container">
  <div class="jumbotron">
    <h1 class="text-center" id="titleName">Eat-Da-Burger!</h1>
  </div>
  <div class="row">

    {{!-- Burgers Available Column --}}
    <div class="col-lg-4">
      <h2>Fresh Burgers</h2>
      <ul>
        {{#each burger}}
        {{#unless this.devoured}}
        <form class="form-inline" action="/devour" method="POST">
          <button type="submit" class="btn btn-sm btn-primary" id="eat-btn"> Devour!</button>
          <label class="ready-items">{{this.name}}</label>
          <input type="hidden" name="burgerID" value={{this.id}}>
        </form>
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    {{!-- Add a Burger Column --}}
    <div class="col-lg-4" id="midColumn">
      <div class="row">
        <div class="col-m-12"><img class="burgerMid" src="../public/assets/img/soloBurger.png"
            alt="Looks Like a Whopper"></div>
      </div>
      <div class="row">
        <div class="col-m-12">

          <h2>Add a Burger</h2>
          {{!-- Burger Adder --}}
          <form action="/create" method="POST">
            <div class="form-group">
              <label for="new-burger" class="control-label">Create A New Burger</label>
              <input class="form-control" type="text" id="new-burger" name="name" value="" placeholder="Add New Burger Name">
              <button type="submit" class="btn btn-warning btn-block" id="add-btn">Add Burger</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {{!-- Devoured Column --}}
    <div class="col-lg-4">
      <h2>Devoured Burgers</h2>
      <ul>
        {{#each burger}}
        {{#if this.devoured}}
        <form class="form-inline" action="/delete/{{this.id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-sm btn-danger" id="eat-btn">Remove!</button>
          <label class="ready-items">{{this.name}}</label>
          <input type="hidden" name="Delete" value={{this.devoured}}>
        </form>
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>
</div>